body {
  background-color: #222222;
}

.nav {
  background-color: #3c948b;
}

.nav h1, .nav p {
  color: #fff;
}

.nav a {
  color: #fff;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.jumbotron {
  background-image:url('http://goo.gl/04j7Nn');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}

.learn-more {
  padding-bottom: 25px;
}

.learn-more a {
  color: #fff;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.highlighted-projects {
    background-color: #efefef;
}

.highlighted-projects h2 {
    color: #393c3d;
    font-size: 24px;
}

.highlighted-projects p {
    font-size: 15px;
  margin-bottom: 13px;
}

.thumbnail {
    background-color: #efefef;
    border: 0px;
}

#top-footer {
  background-color: #3c948b;
}

#bottom-footer {
  background-color: #222222;
  color: #fff;
}